@{
    ViewData["Title"] = "Specialisterne Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen!</h1>
    <p>Lær hvordan <a href="https://docs.microsoft.com/aspnet/core">man bygger en hjemmeside med ASP.NET Core</a>.</p>
</div>
